<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nautaproducts" value="https://pkgs.dev.azure.com/Nautagroup/_packaging/nautaproducts/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<AzureDevOps>
			<add key="Username" value="any" />
			<add key="ClearTextPassword" value="s4f4idorgmprng4eekjet2is6chv72ploojjxjcd424nvg5hmina" />
		</AzureDevOps>
	</packageSourceCredentials>
</configuration>