{
  "iisSettings": {
    "windowsAuthentication": false,
    "anonymousAuthentication": true,
    "iisExpress": {
      "applicationUrl": "http://localhost:51912",
      "sslPort": 44304
    }
  },
  "$schema": "http://json.schemastore.org/launchsettings.json",
  "profiles": {
    "IIS Express": {
      "commandName": "IISExpress",
      "launchBrowser": true,
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development"
      }
    },
    "ItemCabinetModule": {
      "commandName": "Project",
      "launchUrl": "/",
      "applicationUrl": "https://localhost:5001",
      "environmentVariables": {
        "ID": "local-item-cabinet-api",
        "ASPNETCORE_ENVIRONMENT": "Development",
        "CONNECTION_STRING": "Server=localhost;Database=ctam;User ID=sa;Password=C@ptur3T;Application Name=Politie.CloudAPI"
      }
    }
  }
}
